* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    color:#000000;
    text-align: left;
}
h1{
    font-size: 36px;
    color: darkgreen;
    text-align: center;
}
h2{
    font-size: 28px;
    color: #000000;
    text-align: center;
}
h3{
    font-size: 24px;
    color: darkgreen;
    text-align: left;
}
h4{
    font-size: 20px;
    color: darkgreen;
}
h5{
    font-size: 18px;
    color: darkgreen;
}
h6{
    font-size: 16px;
    color: blueviolet;
}
p{
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: justify;
}
div{
    text-align: left;

}
span{
    color: chocolate;
    font-size: 14px;
}
.destaque{
    color: rgb(139, 0, 56);
    font-size: 16px;

}
.secao{
    text-align: center;
}
